In [1]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv("2022_games.csv")

In [5]:
nomC ol = data.columns

In [8]:
info_game = data[["gameid", "playerid", "teamid", "datacompleteness"]]

In [10]:
info_game.tail()

,gameid,playerid,teamid,datacompleteness
53743,ESPORTSTMNT01_2870693,oe:player:63ba5c5e5bb73ace706183b5e05a27e,oe:team:8eb884e168f28402ce685bedebb5250,complete
53744,ESPORTSTMNT01_2870693,oe:player:14b8a13920a4db93a907d059b772b43,oe:team:8eb884e168f28402ce685bedebb5250,complete
53745,ESPORTSTMNT01_2870693,oe:player:05fafeaf23dc3285558a4e968970b9f,oe:team:8eb884e168f28402ce685bedebb5250,complete
53746,ESPORTSTMNT01_2870693,NaN,oe:team:f7f7324c151aa6ed770b244ce08e027,complete
53747,ESPORTSTMNT01_2870693,NaN,oe:team:8eb884e168f28402ce685bedebb5250,complete

gameid              53748
datacompleteness    53748
url                 53748
league              53748
year                53748
                    ...
assistsat15         53748
deathsat15          53748
opp_killsat15       53748
opp_assistsat15     53748
opp_deathsat15      53748
Length: 123, dtype: int64

In [30]:
data.shape

(53748, 123)

SyntaxError: invalid syntax (2213279192.py, line 1)